.scroll-element {
  opacity: 0;
  transform: scale(0.1);
  transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}

.scroll-element.active {
  opacity: 1;
  transform: scale(1);
}

.vision-cont {
  text-align: center;
  padding: 5% 15%;
  h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #295f4e;
    margin-bottom: 2rem;
  }
  .saying {
    font-size: 22px;
    font-weight: 700;
    color: #6db193;
    margin: 0;
  }
  .emile {
    color: #6db193;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  .vision-row {
    display: flex;
    justify-content: center;
    align-items: center;
    .box {
      position: relative;
      border-radius: 15%;
      margin: 1.7rem;
      max-width: 350px;
      display: flex;
      justify-content: center;
      align-items: center;
      .vision-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 15px 15px rgba(41, 95, 78, 0.7);
        border-radius: 10%;
        padding: 3rem;
        min-height: 400px;
        backface-visibility: hidden;
        background: #6db193;
        width: 350px;
        svg {
          width: 120px;
          height: 120px;
          color: #fff;
          border-radius: 100px;
          margin-bottom: 2rem;
        }
        h5 {
          color: #fff;
          font-size: 2.5rem;
          font-weight: bold;
          margin-bottom: 1rem;
        }
        p {
          color: #fff;
          font-size: 1.5rem;
          line-height: 2;
        }
      }
      .col-front {
        transition: 1s transform;
        min-width: 350px;
      }
      .col-back {
        position: absolute;
        bottom: 0;
        transition: 1s transform;
        transform: rotateY(-180deg);
      }
      &:hover {
        .col-front {
          transform: rotateY(180deg);
        }
        .col-back {
          transform: rotateY(0deg);
        }
      }
    }
  }
}


@media screen and (max-width: 400px) {
  .vision-cont {
    h1 {
      font-size: 3rem;
    }
    .saying {
      font-size: 16px;
    }
    .emile {
      font-size: 14px;
    }
    .vision-row {
      .box {
        max-width: 270px;
        .vision-col {
          min-height: 300px;
          margin-bottom: 2rem;
          width: 270px;
          svg {
            width: 100px;
            height: 100px;
            margin-bottom: 2rem;
          }
          h5 {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 1rem;
          }
          p {
            font-size: 16px;
          }
        }
        .col-front {
          min-width: 270px;
        }
      }
    }
  }
}