@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 13% 0 14% 0;
  opacity: 0;
  transform: translateY(-100%);
  transition: all 1.5s ease;
  h1 {
    font-family: "Dancing Script", cursive;
    font-size: 8rem;
    font-weight: bolder;
    color: #295F4E;
  }
  h3 {
    font-family: "Dancing Script", cursive;
    font-size: 7rem;
    color: #295F4E;
    font-weight: bold;
  }
}
.loaded {
    opacity: 1;
    transform: translateY(0%);
}