.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 9rem 0;
    margin-bottom: 7.5rem;
    h1 {
        font-size: 10rem;
        color: #fff;
    }
    h3 {
        font-size: 7rem;
        color: #fff;
    }
}