#h1:after {
    content: "Selam.";
    animation: writeH1 1s;
}

@keyframes writeH1 {
    0% {
        content: "S";
    }
    20% {
        content: "Se";
    }
    40% {
        content: "Sel";
    }
    60% {
        content: "Sela";
    }
    80% {
        content: "Selam";
    }
    100% {
        content: "Selam.";
    }
}

#h2:after {
    content: "Ben Selim.";
    animation: writeH2 1s;
    animation-delay: 2s;
}

@keyframes writeH2 {
    0% {
        content: "Be";
    }
    25% {
        content: "Ben ";
    }
    50% {
        content: "Ben Se";
    }
    75% {
        content: "Ben Seli";
    }
    100% {
        content: "Ben Selim.";
    }
}