.hobbies {
  padding: 5% 15%;
  text-align: center;
  h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #295f4e;
    margin-bottom: 4rem;
  }
  .hobby-cont {
    .hobby-row {
      display: flex;
      flex-direction: row;
      border: 3px solid #6db193;
      border-radius: 30px;
      margin-bottom: 80px;
      .hobby-col {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .hobby-img {
          width: 400px;
          max-width: 100%;
          height: auto;
          transition: transform 1s;
          z-index: 1;
          &:hover {
            transform: scale(1.7);
          }
        }
        .doodles {
          position: absolute;
          width: 95px;
          height: 95px;
          z-index: 5;
        }
        #cook-icon {
          top: 50px;
          right: -60px;
        }
        #knife-icon {
          left: 0;
          top: -30px;
        }
        #pot-icon {
          bottom: -30px;
          left: 50%;
        }
        #saitama-icon {
          left: -30px;
          top: 50px;
        }
        #pikachu-icon {
          right: 0;
          top: -30px;
        }
        #sharingan-icon {
          bottom: -30px;
          right: 50%;
        }
      }
      .hobby-p {
        flex: 1;
        background: #6db193;
        border: 3px solid #fff;
        color: #fff;
        padding: 0 5%;
      }
      .cooking-p {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
      }
      .anime-p {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        a {
          font-weight: bold;
          text-decoration: none;
          color: #295f4e;
        }
      }
      .cooking-img {
        padding: 5px;
        background: #fff;
        border-radius: 30px;
        #cooking-img {
          border-top-left-radius: 30px;
          border-bottom-left-radius: 30px;
        }
      }
      .anime-img {
        padding: 5px;
        background: #fff;
        border-radius: 30px;
        #anime-img {
          border-top-right-radius: 30px;
          border-bottom-right-radius: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .hobbies {
    h1 {
      font-size: 3rem;
    }
    .hobby-cont {
      .hobby-row {
        flex-direction: column;
        .hobby-col {
          .hobby-img {
            &:hover {
              transform: scale(1.3);
            }
          }
          .doodles {
            width: 45px;
            height: 45px;
            opacity: 1;
          }
          #sharingan-icon {
            right: -25px;
          }
          #pot-icon {
            left: 5%;
            bottom: -40px;
          }
          #knife-icon {
            top: 0;
          }
          #pikachu-icon {
            top: 0;
          }
          #cook-icon {
            right: -35px;
          }
        }
        .cooking-p {
          border-top-right-radius: 0;
          border-bottom-left-radius: 30px;
          padding: 5% 2% 3% 2%;
          p {
            font-size: 12px;
            margin-bottom: 0;
          }
        }
        .anime-p {
          border-bottom-left-radius: 0;
          border-top-right-radius: 30px;
          padding: 5% 2% 3% 2%;
          p {
            font-size: 12px;
            margin-bottom: 0;
          }
        }
        .cooking-img {
          #cooking-img {
            border-bottom-left-radius: 0;
            border-top-right-radius: 30px;
          }
        }
        .anime-img {
          #anime-img {
            border-top-right-radius: 0;
            border-bottom-left-radius: 30px;
          }
        }
      }
    }
  }
}
