.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .social-row {
    display: flex;
    justify-content: center;
    align-items: center;
    .social-col {
      display: flex;
      justify-content: center;
      align-items: center;
      .social-icon {
        width: 120px;
        height: 120px;
        margin: 25px;
        color: #6db193;
      }
      .github:hover {
        color: #333;
      }
      .linkedin:hover {
        color: #0a66c2;
      }
      .instagram:hover {
        color: #e1306c;
      }
      .twitter:hover {
        color: #1da1f2;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .social {
    flex-direction: row;
    .social-row {
      flex-direction: row;
      .social-col {
        flex-direction: row;
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .social {
    .social-row {
      .social-col {
        .social-icon {
          width: 75px;
          height: 75px;
        }
      }
    }
  }
}