.nav-bar {
  width: 100%;
  background: #295F4E;
  padding: 0.7rem;
  .collapse-btn {
    margin-left: auto;
    color: #fff;
    border: 1px solid #fff;
  }
  .links {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    .link {
      .active {
        border: 1px solid #d3d3d3;
        border-radius: 35px;
        background: #fff;
        color: #295F4E;
      }
      a {
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        &:hover {
          border: 1px solid #d3d3d3;
          border-radius: 35px;
        }
      }
    }
  }
}

.lang-btn {
  background: transparent;
  position: absolute;
  right: 3rem;
  svg {
    height: 25px;
    width: 25px;
    path {
      stroke: #fff;
    }
  }
}