.footer {
    background: #295F4E;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
    p {
        margin: 0;
    }
}

@media screen and (max-width: 400px) {
    .footer {
        font-size: 0.7rem;
        padding: 0.7rem;
    }
}